body{
   background-color: rgb(133, 142, 143);
}
.container{
    width: 95%;
    height: 100vh;
    display: flex;
}
.quotes{
    width: 900px;
    height:450px;
    display: flex;
    margin: auto;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 10px solid rgb(0, 0, 0);
}
 .quotes p, .quotes h3{
    font-size: 1.5rem;
 }
@media(max-width:480px)
{
    .quotes p, .quotes h3{
        font-size: 1rem;
     }
}
 